<!DOCTYPE html>
<html>
  <head>
    <title>LadyFernRails6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://unpkg.com/flickity@2/dist/flickity.min.css" %>
    <%= javascript_include_tag "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <h1 class="text-2xl text-center font-medium mb-2">Lady Fern Logo</h1>
  <header class="lg:px-16 px-6 bg-gray-200 flex flex-wrap items-center lg:py-0 py-2">
      <div class="flex-1 flex justify-between items-center">
        <%= link_to root_path do %>
          <%= image_tag("nature.png", class: "w-10 h-10 border-2 border-transparent") %>
        <% end %>
        <%# <% if current_user.is_admin? %>

      </div>

    <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
      <nav>
        <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
          <li><%= link_to( "Account", new_user_session_path, class: "lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-700") %></li>
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-700" href="#">Cart</a></li>
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-orange-700" href="#">Contact</a></li>
        </ul>
      </nav>
      <%= link_to( root_path, class: "lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor") do %>
        <img class="rounded-full w-10 h-10 border-2 border-transparent hover:border-orange-700" src="https://pbs.twimg.com/profile_images/1251656865261301760/edc5j8gM_400x400.jpg" alt="Andy Leverenz">
      <% end %>

    </div>

    </header>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
