<div class="container mx-auto flex items-center justify-center flex-wrap pb-12">
  <% if !@listing.in_stock && ( signed_in? && current_user.admin ) %>
    <%= render "item_show" %>
  <% elsif !@listing.in_stock %>
    <p>Sorry, this item isn't in stock right now!</p>
  <% else %>
    <%= render "item_show" %>
  <% end %>
</div>
<% if signed_in? & @listing.user != current_user %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
  </script> 
<% end %>
<%= render "shared/footer_listings.html.erb" %>  
